.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('images/bg-intro-mobile.png');
    background-color: rgb(226,120,119);
    color: white;
}



/************************
    Mobile Layout
**********************/

@media screen and (min-width: 300px) and (max-width: 500px) {
    h1 {
        text-align: center;
        font-size: 3.8rem;
        padding: 1em 2em 0 2em;
    }

    h1 + div > p {
        text-align: center;
        padding: 0 3em;
        font-size: 2em;
    }

    .discount-offer {
        border: none;
        border-radius: 15px;
        background-color: rgb(91,85,160);
        text-align: center;
        padding: 0.4em 2em;
        margin: 1em 4em;
        font-size: 2em;
        box-shadow: 0 10px 4px rgb(171, 88, 89);
    }

    .form-fill {
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin: 10%;
        padding: 10%;
        box-shadow: 0 10px 4px rgb(171, 88, 89);
    }

    .form-fill form {
        padding: 1em 0;
    }

    form > input {
        padding: 1em 0 1em .5em;
        width: 100%;
    }

    .form-fill p {
        color: rgb(148,147,154);
    }

    .button-div {
        text-align: center;
    }
}


/************************
    Tablet Layout
**********************/

@media screen and (min-width: 501px) and (max-width: 800px) {
    
}

/************************
    Laptop Layout
**********************/

@media screen and (min-width: 801px) and (max-width: 1440px) {
    
}

/************************
    Desktop Layout
**********************/

@media screen and (min-width: 1441px) {
    
}