.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    font-size: 62.5%;
}

/**************
General Styles
******************/

body {
    background-image: url('images/bg-intro-mobile.png');
    background-color: rgb(226,120,119);
    color: white;
}

h1 + div > p {
    text-align: center;
}

.discount-offer {
    border: none;
    border-radius: 15px;
    background-color: rgb(91,85,160);
    text-align: center;
    box-shadow: 0 10px 4px rgb(171, 88, 89);
}

.form-fill {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 4px rgb(171, 88, 89);
}

.form-fill p {
    color: rgb(148,147,154);
}

.button-div button {
    background-color: rgb(121,202,139);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 4px rgb(107, 176, 122);
}

.button-div + p {
  margin: 1em 3em;
  font-size: 1.3em;
}

a {
  color: rgb(226,120,119);
/*   font-weight: bold; */
  text-decoration: none;
}



/************************
    Mobile Layout
**********************/

@media screen and (min-width: 300px) and (max-width: 767px) {
    .left-content h1 {
      font-size: 3.8rem;
      padding: 1em 2em 0 2em;
      text-align: center;
    }

    .left-content p {
      padding: 0 3em;
      font-size: 2em;
      text-align: center;
    }

    .discount-offer {
      padding: 0.4em 2em;
      margin: 1em 4em;
      font-size: 2em;
    }

    .form-fill {
      margin: 10%;
      padding: 5% 10%;
    }

    .form-fill input {
      padding: 1em 0;
      margin: 0.5em 0;
    }

    .button-div button {
      padding: 1em 2em;
      width: 100%;
      font-size: 1.5em;
      margin: 1em 0 1em 0;
    }
  
}


/************************
    Tablet Layout
**********************/

@media screen and (min-width: 768px) and (max-width: 900px) {
  .left-content h1 {
    font-size: 3.8rem;
    padding: 1em 2em 0 2em;
    text-align: center;
  }

  .left-content p {
    padding: 0 3em;
    font-size: 2em;
    text-align: center;
  }

  .discount-offer {
    margin: 5% 25%;
    padding: 2% 12%;
    font-size: 1.5em;
  }
  
  .form-fill {
    margin: 0 10%;
    padding: 5% 10%;
    }

  .form-fill input {
    padding: 1em 0;
    margin: 0.5em 0;
    }

  .button-div button {
      padding: 1em 2em;
      width: 100%;
      font-size: 1.5em;
      margin: 1em 0 1em 0;
    }
}

/************************
    Laptop Layout
**********************/

@media screen and (min-width: 901px) and (max-width: 1440px) {
  .box {
    display: flex;
  }
  
  .left-side {
    width: 50%;
  }
  
  .left-content h1 {
    font-size: 3.5em;
    /* padding: 15% 10% 0 10%; */
    /* margin: 20vh 10vw 0 0; */
    margin: 50% 12.5%;
    margin-bottom: 0;
  }
  
  .left-content p {
    margin: 5% 8% 5% 12.5%;
    font-size: 1.3em;
  }

  .right-side .discount-offer {
    margin: 25% 12.5%;
    padding: 1em;
  }

  .discount-offer p {
    border: 1px solid white;
  }
  
}

/************************
    Desktop Layout
**********************/

@media screen and (min-width: 1441px) {
    
}